body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

button {
  border: 0;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  line-height: 60px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

.app {
  position: relative;
}

.container {
  padding: 0 10px;
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  h3 {
    font-size: 21px;
    line-height: normal;
  }
}
